site_name: myshkin

use_directory_urls: true

theme:
  name: material

plugins:
  - search
  - obsidian-support

markdown_extensions:
  - admonition
  - footnotes
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true

extra_javascript:
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
